@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Roboto&display=swap');


/*BANNER DA PÁGINA*/
.pagina{
    max-width: 1200px;
    margin: 0 auto;
}

.background{
    background: url(../img/background.jpg) no-repeat center fixed;
    height: 90vh;
    background-size: 100%;
    filter: grayscale(80%);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.texto_back h2:nth-child(1){
    padding-top: 10%;
    margin-left: 7%;
    font-size: 4rem;
}

.texto_back h2:nth-child(2){
    padding-top: 25%;
    margin-left: 7%;
    font-size: 7rem;
}

/*SOBRE*/

.sobre{
    background-color: rgb(113, 146, 152);
}

.sobre div{
    display: flex;
    width: 100%;
}

.sobre div article{
    width: 50%;
    text-align: end;
    margin-bottom: 5%;
}

.sobre div article p{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    margin-top: 10%;
    line-height: 35px;
    text-align: start !important;
    margin-left: 5%;
}

.sobre div article h2{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    text-transform: uppercase;
    margin-top: 10%;
    margin-right: 5%;
}

.sobre div article h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 1%;
    margin-right: 5%;

}

